body {
    background-color: #f4f6f8;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-top: 100px;
}

h1 {
    color: #1e293b;
}

p {
    color: #475569;
    font-size: 18px;
}
